@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --color-background: hsl(212, 45%, 89%);
  --color-card: hsl(0, 0%, 100%);
  --color-titles: hsl(218, 44%, 22%);
  --color-text: hsl(220, 15%, 55%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  font-family: "Outfit", sans-serif;
  color: var(--color-text);
}

.container {
  height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1.5rem;
  background: var(--color-card);
  border-radius: 2rem;
  max-width: 315px;
}

.card__image > img {
  border-radius: 1rem;
  width: 100%;
}

.card__info {
  padding: 2.5rem 1rem;
  text-align: center;
}

.card__info > h2 {
  font-weight: 700;
  color: var(--color-titles);
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.card__info > p {
  font-size: 1.5rem;
  font-weight: 400;
}
